<ul class="nav">
	<div class="brand">
		<h1 class="name">{{siteTitle}}</h1>
	</div>
	<li class="section-name {{#eq page "about"}} active{{/eq}}"><a href="/">About</a></li>
	<li class="section-name {{#eq page "writing"}} active{{/eq}}"><a href="/writing">Writing</a></li>
	<li class="section-name {{#eq page "software"}} active{{/eq}}"><a href="/software">Software</a></li>
	<li class="section-name {{#eq page "translation-work"}} active{{/eq}}"><a href="/translation-work">Translation Work</a></li>
	<li class="section-name {{#eq page "resume"}} active{{/eq}}"><a href="/resume">Resume</a></li>
</ul>
