<!DOCTYPE html>
{{#loadGlobals}}{{/loadGlobals}}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<link type="text/css" rel="stylesheet" href="/fonts/Fira/fira.css" />
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<script type="text/javascript" src="/js/bower/jquery.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row">

		<div class="col-md-3">
			<ul class="nav">
				<div class="brand">
					<h1 class="name">{{siteTitle}}</h1>
				</div>
				<li class="section-name {{#eq page "writing"}} active{{/eq}}"><a href="/writing">Writing</a></li>
				<li class="section-name {{#eq page "software"}} active{{/eq}}"><a href="/software">Software</a></li>
				<li class="section-name {{#eq page "translation-work"}} active{{/eq}}"><a href="/translation-work">Translation Work</a></li>
				<li class="section-name {{#eq page "resume"}} active{{/eq}}"><a href="/resume">Resume</a></li>
			</ul>
		</div>

		<div class="col-md-6">
			{{{body}}}
		</div>

	</div>

</div>

</body>
</html>
