<!DOCTYPE html>
{{#loadGlobals}}{{/loadGlobals}}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>
	<link type="text/css" rel="stylesheet" href="/fonts/Fira/fira.css" />
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<script type="text/javascript" src="/js/bower/jquery.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body style="background-color: {{random_light_rgba}}">

	<div class="container-fluid">
		
		<div class="main-flex-container">

			<div class="nav-container">
				{{> nav}}
			</div>

			<div class="content">
				<div>
					{{{body}}}
					{{> socialLinks}}
				</div>
			</div>

			<div class="right-sidebar"></div>

		</div>

	</div>

	{{> footScripts}}

</body>
</html>
