<div class="col-md-10 resume">

<header>
	<div class="row">
	<div class="col-md-offset-7 col-md-5">
		<div class="contact-info">
			<p><i class="fa fa-envelope-o"></i> matthew.c.halbe@gmail.com</p>
			<p><i class="fa fa-phone"></i> 202-664-2558</p>
		</div>
		<div class="links">
			<p><i class="fa fa-github"></i> <a href="https://github.com/eblahm">https://github.com/eblahm</a></p>
			<p><i class="fa fa-linkedin-square"></i> <a href="#">https://linkedin.com/idijfkdjfkj</a></p>
		</div>
	</div>
	</div>
</header>

<section>
	<h2>Experience</h2>
	<div class="job">
		<h3 class="job-title">Web Developer</h3>
		<div class="job-facts">
			<h4 class="location">On the Internet</h4>
			<h4 class="duration">2012 to Present</h4>
		</div>
		<ul class="bullets">
			<li>Built a Python based, open source blogging application (https://github.com/eblahm/eblahg) for Google App Engine that successfully integrates a text editing web service called Draft and the Dropbox REST API</li>
			<li>As a participant in the National Day of Civic Hacking on June 1-2 2013, built a prototype application (https:// github.com/kevnsn/pcmedkit) to help Peace Corps Medical Secretaries and Volunteers manage resupply of Medical Kit items.</li>
		</ul>
	</div>
	<div class="job">
		<h3 class="job-title">Management Analyst GS-11</h3>
		<div class="job-facts">
			<h4 class="location">Department of Veterans Affairs Washington DC </h4>
			<h4 class="duration">Dec 2011 to Nov 2013</h4>
		</div>
		<ul class="bullets">
		<li>Creator and lead developer of a knowledge management application called FeedStrap (http://feedstrap.vacloud.us/); the application is used by analysts in the Office of Policy and Planning to share and tag articles, search a large database, generate automated reports, and track Veterans policy issues over time.</li>
		<li>Successfully migrated FeedStrap from a proprietary PaaS (Google App Engine), to a VA hosted server. The process involved rewriting the app with Django, configuring RedHat Linux Server, and configuring a Postgresql database</li>
		<li>Provides research, writing and analysis on future oriented topics for senior leaders; has authored two strategic analysis papers: “Cemeteries in a Social Media World” and “Three Trends in Personal Data and Suggestions for Government”</li>
		<li>Distributes a biweekly newsletter for long range planners in the Federal Government. The process for creating the report is automated using FeedStrap</li>
		</ul>
	</div>
	<div class="job">
		<h3 class="job-title">Intern</h3>
		<div class="job-facts">
			<h4 class="location">Lutheran Social Services, Falls Church VA</h4>
			<h4 class="duration">2011</h4>
		</div>
		<ul class="bullets">
			<li>Helped four Iranian refugees with limited English skills find employment in the Northern Virginia area</li>
			<li>Translated spoken and written communication between Farsi and English</li>
		</ul>
	</div>
	<div class="job">
			<h3 class="job-title">Farsi Linguist (Sergeant E5)</h3>
		<div class="job-facts">
			<h4 class="location">US Army, Various Locations</h4>
			<h4 class="duration">2002 to 2008</h4>
		</div>
		<ul class="bullets">
			<li>Created and presented ~10 multi paged, multi-media, intelligence packages for Brigade level (06) and Task Force level intelligence officers (04), in support of combat operations in Iraq</li>
			<li>Designed and implemented improvised vehicle mounts for intelligence equipment</li>
			<li>Built innovative analyst tools using Word, Excel and Access while stationed away from Headquarters in Tikrit, Iraq</li>
			<li>Logged over 200, 12 hour shifts as the Non-Commissioned Officer in charge of a 6 person perimeter checkpoint, responsible for ID checks, incoming and outgoing convoy traffic and one sector of fire.</li>
		</ul>
	</div>
</section>
<div>
	<h2>Education</h2>
	American University, Washington DC — Bachelor of Arts in International Studies, cum laude 2011 Defense Language Institute, Monterey CA — 47 week Persian Farsi Course, 2004
</div>

<div>
	<h2>Skills</h2>
	<ul>
	<li>MVC Web Development (Advanced in Python based web frameworks to include Django and webapp2)</li>
	<li>Front End Development (Advanced in Javascript, Jquery, HTML5, CSS)</li>
	<li>API usage (Advanced in REST, JSON, XML)</li>
	<li>System Administration (Configured a RedHat Linux Server to host FeedStrap)</li>
	<li>Version Control (Experienced with Git and Github)</li>
	<li>Database Management (Experienced with SQL tasks. FeedStrap is powered by Postgresql 9.2)</li>
	<li>Microsoft Office Suite Software (Advanced in Excel, Word, Powerpoint, Access; Intermediate in Visual Basic for Applications)</li>
	<li>Farsi Language (Advanced in Reading and Writing, Intermediate in Speaking)</li>
	</ul>
</div>
</div>
