
.resume {
	h2 {
		font-weight: 400;
		font-size: 2.4em;
		text-decoration: underline;
	}
	h3 {
		font-size: 1.8em;
		font-weight: 500;
		margin: 0;
	}
	.bullets li, .my-skills li {
		line-height: 1.5em;
	}
	header.topmost {
		.contact-info, .links {
			p {
				i {
					padding-right: 5px;
				}
				margin: 0;
				white-space: nowrap;
			}
		}
	}
	.job {
		margin-bottom: 50px;
	}
	.bullets {
		margin: 0;
	}

	section {
		margin-bottom: 50px;
	}

	.duration {
		font-family: @font-family-monospace;
	}

	section.experience {
		.job-facts {
			display: flex;
			justify-content: space-between;
			.location {
				flex: 1 1;
			}
			.duration {
				flex: 1 1;
				text-align: right;
			}

		}
	}
	section.education {
		.school {
			margin: 0 0 2em 0;
		}
	}

	section.skills {
		.my-skills {
			.stars {
				float: right;
			}
			display: flex;
			flex-flow: row;
			.tablet({
				flex-flow: column;
			});

			div {
				margin: 0 10px;
				flex: 1 0;
			}
		}
		ul {
			list-style: none;
			padding: 0;
		}
		.li-group {
			font-weight: bold;
		}
		.skills-legend {
			ul {
				font-size: .8em;
				display: flex;
				flex-flow: row wrap;
				li {
					padding: 0 5px;
					white-space: nowrap;
				}
			}
		}
	
	}

}
