// totally arbitrary, just testing the less build
.top-row {
	border: 1px solid #000000;
}

.brand {
	padding: 1em 0;
	.name {
		white-space: nowrap;
		font-weight: 300;
		font-size: 1.8em;
		margin: 0;
		padding: 0;
	}
}

.nav {
	font-size: 1.2em;
	list-style: none;
	padding: 0;
	.active {
		text-decoration: underline;
	}
	.section-name {
		cursor: pointer;
		border: 1px solid transparent;
		font-weight: 300;

		a {
			color: #000000;
		}
		&:hover {
			border: 1px solid #000000;
		}
	}
}

.article {
	font-size: 1.2em;
	line-height: 1.6em;
	p {
		margin: 1.2em 0;
	}
}

@media (min-width: @screen-phone) and (max-width: @screen-md){
	.nav {
		display: flex;
		font-size: 1em;
		.brand {
				padding: 1em 1em 1em 0;
		}
		.active {
			background-color: lightgray;
			text-decoration: none;
		}
	}
	.section-name {
		flex: 1 0 auto;
		padding: .5em 0;
		margin: auto 0;
		text-align: center;
	}
}

@media (max-width: @screen-phone) {
	.brand {
		padding: .5em;
		.name {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
	.nav {
		.active {
			background-color: lightgray;
			text-decoration: none;
		}
	}

	.section-name {
		font-size: .8em;
		padding: .5em;
	}
}
